@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto');

h1 {
  font-family: 'Bangers', cursive;
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/bg.jpeg');
}

select {
  margin-bottom: 3rem;
}

button {
  font-family: 'Bangers', cursive;
}

.btn {
  background-color: #4b6b4b
}

.container {
  float: left;
  margin-left: 20px;
}

.jumbotron {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #475a4d;
  color: white;
}

.species {
  color: #f9a825;
}

.name {
  color: #2196f3;
}

.age {
  color: #e91e63;
}

.diet {
  color: #f44336;
}

.location {
  color: #ab47bc;
}

.caretakers {
  color: #26a69a;
}

.sex {
  color: #f57c00;
}

.likes {
  color: #388e3c;
}

.dislikes {
  color: #dd2c00;
}

.card-panel {
  min-width: 900px;
}

#log {
  margin-bottom: 2rem;
}

#total {
  background-color: rgba(255,255,255,0.75);
  max-width: 150px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-radius: 3px;
  font-family: 'Bangers', cursive;
  font-size: 16px;
  float: right;
  margin-right: 10px;
}
