@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto');

h1 {
  font-family: 'Bangers', cursive;
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

select {
  margin-bottom: 3rem;
}

button {
  font-family: 'Bangers', cursive;
}

.page-header {

}

.species {
  color: #f9a825;
}

.name {
  color: #2196f3;
}

.age {
  color: #e91e63;
}

.diet {
  color: #f44336;
}

.location {
  color: #ab47bc;
}

.caretakers {
  color: #26a69a;
}

.sex {
  color: #f57c00;
}

.likes {
  color: #388e3c;
}

.dislikes {
  color: #dd2c00;
}

.card-panel {
  min-width: 900px;
}

#log {
  margin-bottom: 2rem;
}
